<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Provador</title>
    
        <link rel="stylesheet" href="{% static 'css/elegant.css' %}">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
       
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!--<script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>-->
        <!--<script src="{% static 'js/typed.js' %}"></script>-->
        <!--<script src="{% static 'js/wow.min.js' %}"></script>-->
        <!--<script src="{% static 'js/custom.js' %}"></script>-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        
</head>
<style>
    html, body {margin: 0; height: 100%; overflow: hidden;}
</style>
<body bgcolor="#00000">
  <div class="py-2">
    <div class="container">
      <div class="row col-md-12">
        <div class="col-md-2">
          <img class="d-block rounded-circle img-fluid mx-auto" height="-" width="100"> </div>
        <div class="col-md-6">
          <p class="text-left py-3" contenteditable="true"> Message: </p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-outline-light btn-lg btn-block my-4 w-100" href="#">REQUISITAR ATENDIMENTO</a>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-12">
          <div class="col-12 col-md-12">
            <hr> </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row col-md-12">
        <div class="col-md-1 text-center">
          <a class="btn pull-left btn-secondary h-100 text-center d-flex align-items-center" href="#">Button </a>
        </div>
        <div class="col-md-2">
          <div class="card">
            <img class="card-img-top" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ITEM</li>
              <li class="list-group-item">CATEGORIA</li>
            </ul>
            <div class="card-body text-center bg-primary">
              <a class="btn btn-outline-light btn-lg btn-block w-100" href="#">VER</a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <img class="card-img-top" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ITEM</li>
              <li class="list-group-item">CATEGORIA</li>
            </ul>
            <div class="card-body text-center bg-primary">
              <a class="btn btn-outline-light btn-lg btn-block w-100" href="#">VER</a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <img class="card-img-top" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ITEM</li>
              <li class="list-group-item">CATEGORIA</li>
            </ul>
            <div class="card-body text-center bg-primary w-100">
              <a class="btn btn-outline-light btn-lg btn-block w-100" href="#">VER</a>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <a class="btn pull-right btn-secondary h-100 d-flex align-items-center" href="#">Button </a>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header text-center bg-primary"> ITENS NESTE PROVADOR</div>
            <div class="card-body bg-primary">
              <h3 class="bg-warning text-center text-light text-uppercase display-3">2</h3>
              <a class="btn btn-outline-light btn-lg btn-block my-4 w-100" href="#">VER ITENS</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-6"></div>
        <div class="col-md-4 offset-md-2"></div>
      </div>
    </div>
    <div class="container">
      <div class="row col-md-12">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header text-center bg-primary">ILUMINAÇÃO</div>
            <div class="card-body bg-primary">
              <a class="btn btn-outline-light btn-lg btn-block my-4 w-100" href="#">LOUNGE</a>
              <a class="btn btn-outline-light btn-lg btn-block my-4 w-100" href="#">SUNLIGHT</a>
              <a class="btn btn-outline-light btn-lg btn-block my-4 w-100" href="#">PARTY</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-8"></div>
        <div class="col-md-4"></div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header text-center bg-primary">TEMPO E TEMPERATURA</div>
            <div class="card-body bg-primary">
              <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


		
		
	
